/* Mostrar QR solo en pantallas grandes */
.qr-container {
    display: flex;
    margin: 15px 0px 15px 0px;
    justify-content: center;
    align-items: center;
  }

  
  /* Ocultar el QR en dispositivos pequeños */
  @media (max-width: 768px) {
    .qr-container {
      visibility: hidden;
    }
  }
  
  /* Mostrar QR en dispositivos grandes */
